* {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, li, ul, span {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pega {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.barra {
    height: 60px;
    background-color: rgb(12, 11, 11);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    display: flex;
    height: 60px;
}

.icon {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon span:nth-child(2) {
    border-right: 1px solid rgb(116, 115, 115);
}

.icon span:nth-child(3) {
    margin-left: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.big-size {
    color: #FFFFFF;
    font-size: xx-large;
}

.cuadro-gris {
    background-color: rgb(204, 202, 202);
    width: auto;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 15px;
    border-radius: 5px;
}

.avion {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    width: auto;
    margin: 0 5% 0 5%;
}

.caja-principio {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 5px;
    border: rgb(197, 197, 197) solid 1px;
    border-radius: 5px;
    padding: 15px;
}

.wifi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letra-1 {
    font-size: 20px;
    display: flex;
    align-items: center;
} 

.flecha-abajo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Benefits {
    width: 100%;
    border-radius: 5px;
}

/*.Benefits-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.benefits-3 {
    width: 90%;
}*/

.T-Mobile {
    border: rgb(211, 211, 211) solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.copaen {
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 3.5;
}

.copaen span {
    font-size: xxx-large;
    margin: 20px;
    margin-top: 30px;
}

.boton-morado {
    border-radius: 5px;
    background-color: blueviolet;
    width: 100px;
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: center;
    color: white;
    transition: transform 0.1s ease;
}

.boton-morado:hover {
    border: black solid 1px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px) translateX(-5px);
    cursor: pointer;
}

.expand {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 14fr;
}

.centro-sininterlineado {
    display: flex;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 30px;
}

.preguntas {
    border-top: black solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    
}

.pregunta-1 {
    padding-left: 5px;
    font-size: 16px;
}

details {
    width: 100%;
}

summary {
    cursor: pointer;
    list-style: none;
}

.preguntas summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.preguntas summary::after {
    display: inline-block;
    content: 'expand_more';
} 

.preguntas details[open] summary::after {
    content: 'expand_less';
}

.cuadro-negro {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cuadro-negro summary {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 12px;
    border-bottom: blue solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}

.cuadro-negro summary:hover {
    color: aqua;
    border-bottom: aquamarine 5px solid;
}

.cuadro-negro details[open] summary{
    color: aqua;
    border-bottom: aquamarine 5px solid;
}

.ultimo {
    background-color: rgb(230, 230, 230);
    line-height: 1.5;
}

.idioma-1 {
    border-bottom: rgb(194, 194, 194) solid 1px;
    padding: 20px;
}

.idioma-2 {
    display: flex;
    justify-content: center;
}

.idioma-2 span {
    color: gray;
    border-left: rgb(194, 194, 194) solid 1px;
    margin-left: 15px;
    padding-left: 15px;
}

.cuatro {
    color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cuatro-1 {
    width: 90%;
}

.final {
    color: gray
}

.final-1 {
    display: flex;
    justify-content: center;
}

.paginas {
    color: rgba(0, 0, 0, 0.25);
}

.final-2 {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.centrar1 {
    display: flex;
    justify-content: flex-start;
}

.CoBrowse {
   width: auto;
    /* padding: 20px; */
}

.CoBrowse details {
    border: rgb(190, 190, 190) 1px solid;
    border-radius: 5px;
    background-color: #e6e6e6;
    padding: 1rem;
}
.CoBrowse details[open] {
    width: auto;
    background-color: white;
}

.CoBrowse summary {
    display: flex;
    font-size: 16px;
}

.CoBrowse summary::before {
    content: 'chevron_right';
}

.CoBrowse details[open] summary p {
    font-size: 14px;
}

.CoBrowse details[open] summary::before {
    content: 'keyboard_arrow_down';
}

input[name=Pin] {
    width: 98%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.boton-morado-2 {
    border-radius: 5px;
    background-color: blueviolet;
    width: auto;
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    transition: transform 0.1s ease;
}

.boton-morado-2:hover {
    border: black solid 1px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px) translateX(-5px);
    cursor: pointer;
}

